.arriba{
    background-color: rgb(25, 20, 20);
    text-align: center;
}
.navigation{
  background-color: rgb(30, 215, 96);
  color: rgb(25, 20, 20);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  word-spacing: 2px;
  
}

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
    border-collapse: collapse;
    border-bottom:rgb(30, 215, 96) 5px solid;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  thead th {
    background: rgb(30, 215, 96);
    color: rgb(30, 215, 96);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-collapse: collapse;
    border-bottom: rgb(36, 34, 34) 5px solid;
    
  }
  
  tr {
    background: rgb(25, 20, 20);
    border-bottom: 1px ;
    margin-bottom: 5px;
    border-collapse: collapse;
    border-bottom: rgb(30, 215, 96) 5px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: center;
    width: 33.3333%;
    border-collapse: collapse;
    border-bottom: rgb(30, 215, 96) 5px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  